In [3]:
import pandas as pd
from datetime import datetime

In [2]:
x = [(2016,1,1),(2016,1,2), (2016,2,1)]
x2 = pd.Series(x)
x2

0    (2016, 1, 1)
1    (2016, 1, 2)
2    (2016, 2, 1)
dtype: object

In [4]:
x3 = x2.apply(lambda x: datetime(year=x[0], month=x[1], day=x[2]))
x3

0   2016-01-01
1   2016-01-02
2   2016-02-01
dtype: datetime64[ns]

In [5]:
y = pd.Series([1,2, 1])

In [8]:
df = pd.DataFrame({'x':x3, 'y':y})
df.set_index('x').resample('2D', how='count')

            y
x
2016-01-01  2
2016-01-03  0
2016-01-05  0
2016-01-07  0
2016-01-09  0
2016-01-11  0
2016-01-13  0
2016-01-15  0
2016-01-17  0
2016-01-19  0
2016-01-21  0
2016-01-23  0
2016-01-25  0
2016-01-27  0
2016-01-29  0
2016-01-31  1