In [1]:
import pandas as pd
import numpy as np

# Playing around

In [17]:
data = [{'in':'1', 'out':'2', 'k':2, 'd':2.1},
        {'in':'2', 'out':'1', 'k':3, 'd':0.4},
        {'in':'3', 'out':'2', 'k':2, 'd':1.2},
        {'in':'2', 'out':'1', 'k':1, 'd':4.5},
        {'in':'1', 'out':'3', 'k':5, 'd':3.2}]

In [18]:
df = pd.DataFrame(data)
df

     d in  k out
0  2.1  1  2   2
1  0.4  2  3   1
2  1.2  3  2   2
3  4.5  2  1   1
4  3.2  1  5   3

In [12]:
df['d_bin'] = pd.cut(df.d, bins=3, right=True)
df

     d in  k out           d_bin
0  2.1  1  2   2  (1.767, 3.133]
1  0.4  2  3   1  (0.396, 1.767]
2  1.2  3  2   2  (0.396, 1.767]
3  4.5  2  1   1    (3.133, 4.5]
4  3.2  1  5   3    (3.133, 4.5]

In [15]:
pd.get_dummies(df)

,d,k,in_1,in_2,in_3,out_1,out_2,out_3,"d_bin_(0.396, 1.767]","d_bin_(1.767, 3.133]","d_bin_(3.133, 4.5]"
0,2.1,2,1,0,0,0,1,0,0,1,0
1,0.4,3,0,1,0,1,0,0,1,0,0
2,1.2,2,0,0,1,0,1,0,1,0,0
3,4.5,1,0,1,0,1,0,0,0,0,1
4,3.2,5,1,0,0,0,0,1,0,0,1

# As one function

In [25]:
def dummy_bin(df, bins=100, dropD=True):
    '''generate bins and dummies out of df'''
    df['d_bin'] = pd.cut(df.d, bins=bins, right=True)
    if dropD:
        return pd.get_dummies(df).drop('d',1)
    else:
        return pd.get_dummies(df)

In [24]:
dummy_bin(df, bins=3)

,k,in_1,in_2,in_3,out_1,out_2,out_3,"d_bin_(0.396, 1.767]","d_bin_(1.767, 3.133]","d_bin_(3.133, 4.5]"
0,2,1,0,0,0,1,0,0,1,0
1,3,0,1,0,1,0,0,1,0,0
2,2,0,0,1,0,1,0,1,0,0
3,1,0,1,0,1,0,0,0,0,1
4,5,1,0,0,0,0,1,0,0,1